body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1%;
  overflow-x: hidden;
  }
#menu {
  background-color: rgba(202, 202, 202, 0.5);
  position: absolute;
  width: 98%;
  text-align: center;
  padding: 1%;
  z-index: 10;
}
#menu a {
 color: white;
 font-size: 120%;
}
#menu span {
  padding: 2.5%;
}
h1 {
 text-align: center;
 font-size: 150%;
 margin-top: 3%;
}
h2 {
  text-align:center;
  font-size:150%;
}
#box_text {
  width: 100%;
  background-color: white;
}
#box_text p {
  font-size: 100%;
}
#contacts {
  padding: 2% 0% 0.1% 0%;
  background-color: #3c3a3a;
  text-align: center;
}
#contacts p {
  color: white;
  font-size: 80%;
}
.sign {
  width: 300px;
  border: 2px solid #333;
  padding: 1%;
  margin: 2% 5%;
  background: #f0f0f0;
}
.add_item a {
  color:#000;
  float: right;
  margin-bottom: 2%;
  font-family: monospace;
}
#catalog {
  width: 100%;
}
figure {
  display: inline-block;
  margin: 0% 4%;
}
.scrollup {
  width:40px;
  height:40px;
  opacity:0.5;
  position:fixed;
  bottom: 5%;
  right: 2%;
  display:none;
  text-indent:-9999px;
  background: url('icon_top.png') no-repeat;
}
.price {
  color:#000;
  font-size:80%;
  margin: 1% 0%;
  float: right;
}
.p_table {
  text-align:right;
}
input{
  width: 70%;
}
textarea {
  width: 65%;
  line-height: 70%;
}
dialog {
  width: 30%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  background-color: #ded8d8;
  box-shadow: 0px 0px 15px 0px black;
  z-index: 100;
}
label {
  position: relative;
  display: inline-block;
  min-width: 25%;
  margin-bottom: 1%;
  vertical-align: text-bottom;
}
#bag{
  font-size:20px;
  text-align: center;
}
#cart{
  text-align: center;
}
.item_box {
  position: relative;
}
figure.item_box  p  {
  position: absolute;
  text-align: center;
  margin: auto;
  bottom: 100px;
  left: 70px;
  opacity: 0;
  color: white;
  transition: 1s;
}
figure:hover p {
  opacity: 1;
}
figure:hover img {
  filter: brightness(50%);
  transition: 1s;
}
p  a {
  color: white;
  border: 1px white;
  padding: 2%;
}
#photo {
  position: relative;
  text-align: center;
}
#photo p {
  text-align: center;
  margin-top: 1%;
}
.center{
  text-align: center;
  top: 50%;
  color: white;
  font-size: 200%;
  font-weight: 900;
}
.shopping_list {
  text-align: center;
  width: 40%;
  border-collapse: collapse;
}
.shopping_list td,
.shopping_list th {
padding: 2%;
border: 1px solid #000;
text-align: center;
background-color: rgba(202, 202, 202, 0.5);
}
th {
  color: black;
}
#catalog p{
text-align: center;
}
.btn{
width: 100%;
font-size: 120%;
background-color: #7d6666;
color: white;
padding: 5%;
margin-bottom: 0%;
}
#checkout:hover,
#show:hover,
#clear_cart:hover{
text-decoration: underline;
}
h3 {
  text-align:center;
  font-size:150%;
  margin-bottom: 3%;
  background-color: rgba(202, 202, 202, 0.5);
  position: absolute;
  width: 98%;
  padding: 0.5%;
}
#cart_content{
text-align: -webkit-center;
font-size: 80%;
}
form {
  text-align: center;
}
#link a{
  padding: 0;
}
